@use '../util' as *;

.heroe{

    margin-bottom: rem(70);
    @include breakpoints-up(large){
        display: flex;
        justify-content: center;
        margin-bottom: rem(135);
    }

    &__image{

        display: flex;
        justify-content: center;

        @include breakpoints-up(large){
            order: 2;
        }

        &-wrapper{
            width: rem(314);
            height: rem(284);


            @include breakpoints-up(large){
                width: rem(535);
                height: rem(482);
            }
        }
    }


    &__text{
        width: calc(100% - rem(100));
        margin: auto;

        @include breakpoints-up(large){
            order: 1;
            width: rem(435);
            margin: 0;
            margin-right: rem(145);
        }

        h1{
            font-size: rem(40);
            font-weight: 700;
            line-height: rem(51);
            color: var(--dark-blue);
            text-align: center;
            margin: 0;
            margin-bottom: rem(16);

            @include breakpoints-up(large){
                font-size: rem(56);
                line-height: rem(65);
                margin-bottom: rem(35);
                text-align: left;
            }
        }

        p{
            margin-bottom: rem(32);
        
            @include breakpoints-up(large){
                margin-bottom: rem(42);        
            }
        }
    }

    &__cto{
        display: flex;
        justify-content: center;

        @include breakpoints-up(large){
            display: block;
            justify-content: start;
            
        }

        a{
            @include breakpoints-up(large){
                margin: 0;
            }
        }
    }

}