@use '../util' as *;

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--be-vietnam);
}

p{
	font-size: rem(14);
            line-height: rem(28);
            text-align: center;
            margin: 0;
            color: var(--dark-grayish-blue);

            @include breakpoints-up(large){
                font-size: rem(16);
                text-align: left;
            }
}

.flex {
	display: flex;
  
	&-c {
	  flex-direction: column;
	}
  
	&-jc-sb {
	  justify-content: space-between;
	}
  
	&-jc-c {
	  justify-content: center;
	}
  
	&-jc-s {
	  justify-content: start;
	}
  
	&-ai-c {
	  align-items: center;
	}
  
	&-ai-s {
	  align-items: flex-start;
	}
  }
  
  // visibility
  .hide-for-mobile {
	@include breakpoints-down(small) {
	  display: None;
	}
  }
  
  .hide-for-tablet{
	@include breakpoints-down(medium){
	  display: none;
	}
  }
  
  .hide-for-desktop {
	@include breakpoints-up(large) {
	  display: None;
	}
  }


// padding
.pad {
	// small left - 8px
	&-l {
	  padding-left: rem(23);
	  @include breakpoints-up(large) {
		padding-left: rem(164);
	  }
	}
  
	&-r {
	  padding-right: rem(23);
	  @include breakpoints-up(large) {
		padding-right: rem(164);
	  }
	}
  
	&-lr {
	  padding-left: rem(23);
	  padding-right: rem(23);
  
	  @include breakpoints-up(large) {
		padding-left: rem(162);
		padding-right: rem(162);
	  }
	}
}

.img{
	position: relative;
}


.cta{
	background: var(--bright-red);
    height: rem(44);
    width: rem(137);
    margin: auto;
    border: hidden;
    border-radius: rem(22);
    color: white;
	// box-shadow: 0 rem(10) rem(10) rem(4) var(--Pale-orange);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	&:hover{
		opacity: 0.5;
	}
}